{% for post in posts %}
<div class="ContentDiv">
	<div class="row">
		<div class="col-md-12 column">
			<div class="Contentdiv1">
				<h3>
					<!-- 一个胆小的事 -->
					{% if post.isshowname == 1 %}
					{{ post.uid.username }}
					{% else %}
					直接匿了
					{% endif %}
					
				</h3>
				<p>
					 {{ post.content }}
				</p>
				<dl>
				<dd>
					{{ post.posttime }}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{{ post.postposition }}
				</dd>
				</dl>
				<button id="btncai{{post.cid}}" onclick="ajaxcai({{post.cid}});" type="button" class="btn btn-default">踩&nbsp;<b>{{ post.cai }}</b></button>
				<input type="button" value="评论" class="btn btn-default commentbtn flip" >
			</div>
			<div name="{{post.cid}}" class="commentpanel">
				<div id="comment{{post.cid}}">
					
				</div>
				<div class="Input_Box">
					<textarea id="ttt{{post.cid}}" class="Input_text" maxlength="200" onchange="this.value=this.value.substring(0, 200)" onkeydown="this.value=this.value.substring(0, 200)" onkeyup="this.value=this.value.substring(0, 200)"></textarea>
						<a class="postBtn" name="{{post.cid}}">提交</a>
				</div>
    		</div>
		</div>
	</div>
</div>
{% endfor %}
