{% extends "./includes/base.html" %}
{% block title %}胆小者社区{% endblock %}

{% block content %}
<div class="div111">
	<span id="topp"></span>
	<span id="q"></span>
	<span id="wh"></span>
	<span id="th"></span>
</div>

<div id="content">
	
</div>

<script type="text/javascript">
function ajaxcai(cid){
    $.ajax({
        url: "/ajax_cai/",
        type: "POST",
        data:{"cid":cid},
        headers:{"X-CSRFToken":$('[name="csrfmiddlewaretoken"]').val()},
        success: function(data){
            var obj = JSON.parse(data);//字符串转对象
            if(obj.status){
                $('#btncai'+cid+' > b').text(obj.data)
            }else{
                alert(obj.error);
            }
        }
    });
}
function cleantextarea(cid){
	$("#ttt"+cid).val("");
}
</script>
<script type="text/javascript">
var current = 0
var num=7

function loadcontent(){
	$.ajax({
		url: "/ajax_getcontents/",
		type: "POST",
		data: {"num":num, 'current':current},
		headers:{"X-CSRFToken":$('[name="csrfmiddlewaretoken"]').val()},
		success: function(data){
			if(data.length>0)
			{
                $("#content").append(data);
                current+=num;
			}
		}
	})
}

$(window).load(function(){
	loadcontent();
})

$(window).scroll(function(event) {
	// $("#topp").text($(document).scrollTop());
	// $("#q").text($(document).height());
	// $("#wh").text($(document).height());
	// // $("#th").text($(this).height());
	// $("#th").text(window.screen.height);
	if ($(document).scrollTop() >= ($(document).height() - window.screen.height))
	    loadcontent();
});

$(document).ready(function(){
$(".postBtn").click(function(){
	var cid=$(this).attr("name");
	// alert($(this).parent().text());
	// alert($("#ttt"+cid).val());
	// var comment=$(this).parent().find($(".Input_text")).text();
	comment=$("#ttt"+cid).val();
	
	if(comment==''){
		alert("评论不能为空！");
		return false;
	}
	cleantextarea(cid);
	$.ajax({
		url: "/ajax_submit_comment/",
		type: "POST",
		data: {"cid": cid, "comment":comment},
		headers:{"X-CSRFToken":$('[name="csrfmiddlewaretoken"]').val()},
        success: function(data){
            var obj = JSON.parse(data);
            if(obj.status){
                loadNewComment(cid,obj.data);
            }else{
                alert(obj.error);
            }
        }
		});
	});

var comments=new Array();

$(".flip").click(function(){
    $(".commentpanel:eq(" + $(this).index(".flip") + ")").slideToggle("slow", function(){
    	var cid = $(this).attr("name");
    	for (i=0;i<comments.length;i++){
    		if (cid==comments[i]){
    			return false;
    		}
    	}
    	comments.push(cid);
    	$.ajax({
    		url: "/ajax_comment/",
    		type: "POST",
    		data:{"cid": cid},
    		headers:{"X-CSRFToken":$('[name="csrfmiddlewaretoken"]').val()},
        	success: function(data){
	            if(data.length>0){
	                $("#comment"+cid).html(data);
	            }
        	}
    	})
    });
  });

});


function loadNewComment(cid, data)
{
    var txt1=$("<b></b>").text(data.username+":");
	var txt2=$("<i></i>").text(data.commenttime);
	var txt3=data.comment;
	var div1=$("<div></div>").append(txt1, txt3, txt2);
	$("#comment"+cid).append(div1); 
}
</script>

<style>
	.div111{
		position: fixed;
		margin: 200px 300px auto auto;
	}
</style>

<style type="text/css"> 
p.flip
{
margin:0px;
padding:5px;
text-align:center;
background:#e5eecc;
border:solid 1px #c3c3c3;
}
div.commentpanel
{
display:none;
}
</style>
{% endblock %}

<!-- <div id="footer" style="background-color:#000000;clear:both;text-align:center;">
版权 © byyour-side.com</div> -->