{% extends "./includes/base.html" %}
{% block title %}胆小者社区{% endblock %}

{% block content %}
{% for post in posts %}
<div class="ContentDiv">
	<div class="row">
		<div class="col-md-12 column">
			<div class="Contentdiv1">
				<h3>
					<!-- 一个胆小的事 -->
					{% if post.isshowname == 1 %}
					{{ post.uid.username }}
					{% else %}
					直接匿了
					{% endif %}
					
				</h3>
				<p>
					 {{ post.content }}
				</p>
				<dl>
				<dd>
					{{ post.posttime }}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{{ post.postposition }}
				</dd>
				</dl>
				<button id="btncai{{post.cid}}" onclick="ajaxcai({{post.cid}});" type="button" class="btn btn-default">踩&nbsp;<b>{{ post.cai }}</b></button>
				<input type="button" value="评论" class="btn btn-default commentbtn flip" >
			</div>
			<div name="{{post.cid}}" class="commentpanel">
				<div id="comment{{post.cid}}">
					
				</div>
				<div class="Input_Box">
					<textarea id="ttt{{post.cid}}" class="Input_text" maxlength="200" onchange="this.value=this.value.substring(0, 200)" onkeydown="this.value=this.value.substring(0, 200)" onkeyup="this.value=this.value.substring(0, 200)"></textarea>
						<a class="postBtn" name="{{post.cid}}">提交</a>
				</div>
    		</div>
		</div>
	</div>
</div>
{% endfor %}

<script type="text/javascript">
function ajaxcai(cid){
    $.ajax({
        url: "/ajax_cai/",
        type: "POST",
        data:{"cid":cid},
        headers:{"X-CSRFToken":$('[name="csrfmiddlewaretoken"]').val()},
        success: function(data){
            var obj = JSON.parse(data);//字符串转对象
            if(obj.status){
                $('#btncai'+cid+' > b').text(obj.data)
            }else{
                alert(obj.error);
            }
        }
    });
}
</script>
<script type="text/javascript">
$(document).ready(function(){
$(".postBtn").click(function(){
	var cid=$(this).attr("name");
	// alert($(this).parent().text());
	// alert($("#ttt"+cid).val());
	// var comment=$(this).parent().find($(".Input_text")).text();
	comment=$("#ttt"+cid).val();
	if(comment==''){
		alert("评论不能为空！");
		return false;
	}
	$.ajax({
		url: "/ajax_submit_comment/",
		type: "POST",
		data: {"cid": cid, "comment":comment},
		headers:{"X-CSRFToken":$('[name="csrfmiddlewaretoken"]').val()},
        success: function(data){
            var obj = JSON.parse(data);
            if(obj.status){
                func();
            }else{
                alert(obj.error);
            }
        }
		});
	});


$(".flip").click(function(){
    $(".commentpanel:eq(" + $(this).index(".flip") + ")").slideToggle("slow", function(){
    	var cid = $(this).attr("name");
    	$.ajax({
    		url: "/ajax_comment/",
    		type: "POST",
    		data:{"cid": cid},
    		headers:{"X-CSRFToken":$('[name="csrfmiddlewaretoken"]').val()},
        	success: function(data){
	            if(data.length>0){
	                // $("#lol"+cid).append("<li>"+obj.data+"</li>");
	                $("#comment"+cid).html(data);
	            }
        	}
    	})
    });
  });


});

var layer=document.createElement("div");
layer.id="layer";
function func()
{
    var style=
    {
        background:"#f00",
        position:"absolute",
        zIndex:10,
        width:"200px",
        height:"200px",
        left:"200px",
        top:"200px"
    }
    for(var i in style)
        layer.style[i]=style[i];   
    if(document.getElementById("layer")==null)
    {
        document.body.appendChild(layer);
        setTimeout("document.body.removeChild(layer)",2000)
    }
}
</script>

<style type="text/css"> 
p.flip
{
margin:0px;
padding:5px;
text-align:center;
background:#e5eecc;
border:solid 1px #c3c3c3;
}
div.commentpanel
{
display:none;
}
</style>
{% endblock %}

<!-- <div id="footer" style="background-color:#000000;clear:both;text-align:center;">
版权 © byyour-side.com</div> -->