.intop {
    position: fixed;
    z-index: 9;
    top: 0px;
    margin: auto;
    color: red;
}
.midDiv {
    position: relative;
    margin: 50px auto auto auto;
    width: 80%;
}
.ContentDiv {
    width: 70%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin: 50px auto auto auto;
    border: 1px solid;
    border-radius: 15px;
}
.Contentdiv1 {
    margin: auto 10px 20px auto;
}
p.flip
{
margin:0px;
padding:5px;
text-align:center;
background:#e5eecc;
border:solid 1px #c3c3c3;
}
div.commentpanel
{
display:none;
}
.div111{
    position: fixed;
    margin: 200px 300px auto auto;
}
.commentbtn {
    position: relative;
    left: 50px;
}
.Input_Box {     
    height: 60px;     
    background-color: #fff;     
    overflow: hidden;     
    position: relative;     
    margin: auto auto 10px auto;
}     
.Input_Box>textarea {   
    position: relative;
    float: left; 
    width: 70%; 
    height: 50px;     
    outline: none;     
    border: 1px solid #ccc;     
    font: 13px Arial, Helvetica, sans-serif;
}
.postBtn {
    float: left;
    height: 50px;
    font: 16px Arial, Helvetica, sans-serif;     
    color: #808080;
    padding: 15px 20px 10px 20px;     
    border: 1px solid #ccc;     
    cursor: pointer;     
}     
.postBtn:hover {     
    color: #333;     
    background-color: #efefef;     
}     
.postBtn:active {     
    padding: 10px 20px 6px 20px;     
}     
.faceDiv {     
    width: 500px;     
    height: 120px;     
    border-top: 1px solid #ccc;     
    position: relative;     
    background-color: #fff;     
    -moz-border-radius: 5px 5px 0 0;     
    -webkit-border-radius: 5px 5px 0 0;     
    border-radius: 5px 5px 0 0;     
}